* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(yellow, lightcoral);
  background-size: 250%;
  overflow-x: hidden;
}

.container {
  display: flex;
  width: 100vw;
  height: 150vh;
  justify-content: center;
}

img {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  height: 400px;
  overflow: hidden;
  user-select: none;
  transition: height 0.15s ease-in-out;
}

img:hover {
  height: 450px;
  width: auto;
}

@media only screen and (max-width: 1121px) {
  img {
    height: 100vh;
    width: auto;
    transform: skew(0deg);
    border-radius: 0px;
  }

  img:hover {
    height: 100vh;
  }
}

@media only screen and (max-width: 320px) {
  .container {
    display: grid;
    overflow: visible;
    width: 320px;
  }

  .img {
    width: 320px;
  }
}

.JokeSection {
  width: 100vw;
  height: 100vh;
}

.Joke {
  position: sticky;
  top: 50%;
  text-align: center;
  color: black;
}
