* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #484848;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  place-items: center;
  justify-content: center;
}

img {
  width: auto;
  height: 400px;
  overflow: hidden;
  transform: skew(-15deg);
  user-select: none;
  border-radius: 5px;
  transition: height 0.15s ease-in-out;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: height 0.15s ease-in-out;
  -moz-transition: height 0.15s ease-in-out;
  -ms-transition: height 0.15s ease-in-out;
  -o-transition: height 0.15s ease-in-out;
}

img:hover {
  height: 450px;
  width: auto;
}

@media only screen and (max-width: 1121px) {
  img {
    height: 100vh;
    width: auto;
    transform: skew(0deg);
    border-radius: 0px;
  }

  img:hover {
    height: 100vh;
  }
}

@media only screen and (max-width: 320px) {
  .container {
    display: grid;
    overflow: visible;
    width: 320px;
  }

  .img {
    width: 320px;
  }
}
